/* Start Navbar */
body {
  background-color: #10171d;
}

.nav {
  background-color: transparent;
  height: 5rem;
  padding: 1rem;
  backdrop-filter: blur(2px);
}
.nav::after {
  content: "";
  width: 40%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0.5%;
}
.nav a {
  color: white;
}
.nav a:hover {
  color: #d3d3d3;
}

.overlay img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

/* End Navbar */
/* ////////////////// */
/* Start main */
.main {
  padding-top: 1rem;
  padding-left: 1rem;
}
.main form {
  margin-bottom: 10rem;
}

.tableCon {
  top: 130%;
  left: 0;
  margin-bottom: 10rem;
  justify-content: center;
}

